<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PruebaControladorInsertarInsumo</servlet-name>
        <servlet-class>pkgControlador.ControladorInsertarInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEliminarInsumo</servlet-name>
        <servlet-class>pkgControlador.ControladorEliminarInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarInsumo</servlet-name>
        <servlet-class>pkgControlador.ControladorModificarInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListarInsumo</servlet-name>
        <servlet-class>pkgControlador.ControladorListarInsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInsertarPlato</servlet-name>
        <servlet-class>pkgControlador.ControladorInsertarPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificarPlato</servlet-name>
        <servlet-class>pkgControlador.ControladorModificarPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListarPlato</servlet-name>
        <servlet-class>pkgControlador.ControladorListarPlato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInsertarAlta</servlet-name>
        <servlet-class>pkgControlador.ControladorInsertarAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEliminarBaja</servlet-name>
        <servlet-class>pkgControlador.ControladorEliminarBaja</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PruebaControladorInsertarInsumo</servlet-name>
        <url-pattern>/PruebaControladorInsertarInsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEliminarInsumo</servlet-name>
        <url-pattern>/ControladorEliminarInsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarInsumo</servlet-name>
        <url-pattern>/ControladorModificarInsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListarInsumo</servlet-name>
        <url-pattern>/ControladorListarInsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInsertarPlato</servlet-name>
        <url-pattern>/ControladorInsertarPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificarPlato</servlet-name>
        <url-pattern>/ControladorModificarPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListarPlato</servlet-name>
        <url-pattern>/ControladorListarPlato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInsertarAlta</servlet-name>
        <url-pattern>/ControladorInsertarAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEliminarBaja</servlet-name>
        <url-pattern>/ControladorEliminarBaja</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
